#shape_image {
    height: 256px;
    width: 256px;

    --outline-drop-shadow-pos: 2px;
    --outline-drop-shadow-neg: calc(var(--outline-drop-shadow-pos) * -1);
    filter:
        drop-shadow(var(--outline-drop-shadow-pos) 0px 0 white)
        drop-shadow(0px var(--outline-drop-shadow-pos) 0 white)
        drop-shadow(var(--outline-drop-shadow-neg) 0px 0 white)
        drop-shadow(0px var(--outline-drop-shadow-neg) 0 white)
        drop-shadow(var(--outline-drop-shadow-pos) var(--outline-drop-shadow-pos) 0 white)
        drop-shadow(var(--outline-drop-shadow-neg) var(--outline-drop-shadow-pos) 0 white)
        drop-shadow(var(--outline-drop-shadow-pos) var(--outline-drop-shadow-neg) 0 white)
        drop-shadow(var(--outline-drop-shadow-neg) var(--outline-drop-shadow-neg) 0 white);
    margin: calc(var(--outline-drop-shadow-pos) * 2.5);
}

.vertical_flex_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em;
}

.shape_dimensions_container {
    display: flex;
    flex-direction: row;
}

#main-center-aligner {
    margin: auto;
    width: fit-content;
}

#main-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

input, select {
    line-height: 1;
}

.dimension_input, .density_input {
    width: 7.5em;
}

hr {
    width: 100%;
    margin-bottom: 0;
}
